.profile-thumbnail {
    position: absolute;
}

.profile-thumbnail-usr {
    position: absolute;
    width: 8%;
}
.profile-header {
    min-height: 260px;
    margin-left: 200px;
}
div.post-tabs {
    margin-top: 16px;
}
ul.posts {
    list-style-type: none;
    padding: 0px;
    margin: 16px 0px 0px 0px;
    border-top: 1px solid #e0e0e0;
}
div.post-tabs ul.posts {
    margin: 0px;
    border-top: none;
}
ul.posts li.post {
    padding: 8px;
    border-bottom: 1px solid #e0e0e0;
}
ul.posts li.post:hover {
    background-color: #f0f0f0;
}
div.post-date {
    float: right;
}
div.post-author {
    font-weight: bold;
}
div.post-thumbnail {
    position: absolute;
}
div.post-content {
    margin-left:80px;
    min-height: 80px;
    font-size : 1.2em;
}
div.post-footer {
    text-align: right;
}
ul.comments {
    list-style-type: none;
    padding: 0px;
    margin: 16px 0px 0px 0px;
}
ul.comments li.comment {
    margin-left: 32px;
    padding: 8px;
    border-bottom: 1px solid #e0e0e0;
}
ul.comments li.comment:nth-child(1) {
    border-top: 1px solid #e0e0e0;
}
ul.comments li.comment:hover {
    background-color: #f0f0f0;
}
div.comment-date {
    float: right;
}
div.comment-author {
    font-weight: bold;
}
div.comment-thumbnail {
    position: absolute;
}
div.comment-content {
    margin-left: 48px;
    min-height: 48px;
}
div.comment-form {
    margin: 16px 0px 16px 32px;
}
div.pagination {
    width: 100%;
    text-align: center;
    padding: 0px;
    margin: 0px;
}
div.flask-pagedown-preview {
    margin: 10px 0px 10px 0px;
    border: 1px solid #e0e0e0;
    padding: 4px;
}
div.flask-pagedown-preview h1 {
    font-size: 140%;
}
div.flask-pagedown-preview h2 {
    font-size: 130%;
}
div.flask-pagedown-preview h3 {
    font-size: 120%;
}
.post-body h1 {
    font-size: 140%;
}
.post-body h2 {
    font-size: 130%;
}
.post-body h3 {
    font-size: 120%;
}
.table.followers tr {
    border-bottom: 1px solid #e0e0e0;
}


.main-view {
    float: left;
    width: 760px
}

.sidebar-view {
    float: right;
    width: 300px
}

.widget {
    color: #999;
    margin-bottom: 20px
}

.widget .widget-content,
.widget h2,
.widget h3,
.widget h4 {
    margin: 0
}

.widget .widget-title {
    margin: 0;
    font-size: 14px;
    color: #666;
    line-height: 1.6;
    text-transform: uppercase;
    border-bottom: 1px solid #eee
}

.button {
    position: fixed;
    display: inline-block;
    background-color: #42b983;
    text-decoration: none;
    padding: 0 24px;
    color: #fff;
    font: normal 500 13px/32px Lucida Grande, Helvetica Neue, Arial, sans-serif;
    border-radius: 32px;
    border: none
}

.button--green {
    background-color: #42b983
}

.container {
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto
}

.clearfix:after,
.container:after,
.item-container:after {
    content: '';
    display: table;
    clear: both
}

.nav__item {
    display: inline-block;
    text-decoration: none;
    color: #656465;
    padding: 12px;
    transition: box-shadow .2s ease-out
}

.nav__item.v-link-active-exact {
    box-shadow: 0 -1px 0 #4bd094 inset
}

.nav__item:hover {
    box-shadow: 0 -3px 0 #4bd094 inset
}

.cover {
    position: relative;
    color: #fff;
    background: rgba(0, 0, 0, .8) no-repeat center center;
    background-size: cover
}

.cover__text {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    padding: 20px 0;
    background-image: linear-gradient(rgba(0, 0, 0, .01), rgba(0, 0, 0, .35))
}

.header h2 {
    margin: 0;
    font-size: 24px;
    line-height: 1
}

.header p {
    margin: 0;
    line-height: 1.5
}

.header__cover {
    height: 240px;
    background-image: url(http://imglf1.nosdn.127.net/img/WGtudXQ1N0tqVXR5TWcyc3M5VVJaNjMyaDQ5UEhydnBOdUtqT2pkU1k5WGFqNlQ1TTI5Sm53PT0.jpg?imageView&thumbnail=1680x0&quality=96&stripmeta=0&type=jpg)
}

.header__bottom {
    background-color: #fff;
    box-shadow: 0 1px 0 hsla(0, 0%, 39%, .08) inset;
    border-bottom: 1px solid hsla(0, 0%, 39%, .2)
}

.header__nav {
    float: left
}

.header__button {
    float: right;
    margin-top: 8px
}

.header__nav {
    float: left
}

.header__button {
    float: right;
    margin-top: 8px
}

.footer {
    padding: 16px 0 24px;
    border-top: 1px solid #eee;
    color: #999;
    font-size: 14px;
    line-height: 1.2
}
