{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}SYSU flea market{% endblock %}



{% block header %}
<div class="header">
	<div class="header__cover cover">
		<div class="cover__text">
			<div class="container">
				<h2>Welcome to SYSU flea market</h2>
				<p></p>
			</div>
		</div>
	</div>
	<div class="header__bottom">
		<div class="container">
			<nav class="header__nav nav">
				<a href="{{ url_for('main.index') }}" class="nav__item v-link-active">文章列表</a>
				<a href="{{ url_for('main.about') }}" class="nav__item">关于本站</a>
				<a href="{{ url_for('main.about') }}" class="nav__item">bug及意见反馈</a>
			</nav>
		</div>
	</div>
</div>
{% endblock %}


{% block page_content %}
{% if pagination %}
<div class="pagination">{{ macros.pagination_widget(pagination, '.index') }}</div>
{% endif %}
{% include '_posts.html' %}
{% if pagination %}
<div class="pagination">{{ macros.pagination_widget(pagination, '.index') }}</div>
{% endif %}
{% endblock %}
